header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37;
    font-size: 25px;
    background-color: antiquewhite;
}
body{
    font-family: "Harlow Solid Italic";
    font-size: 15px;
    background-color: antiquewhite;
    font-weight: bold;
}
div{
    background-color: antiquewhite;
}
h1{
    color: #AC2B37;
}
#content{
    padding: 3px;
}
p{
    padding: 3px;
}
h1{
    padding: 10px;
}
header{
    padding: 10px;
}
#WPI{
    /*center the image*/
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#main_nav ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    font-weight: bold;
}

#main_nav ul li {
    background-color: #fff;
    border: 1px solid #999;
    color: #222;
    display: block;
    margin-bottom: -1px;
    padding: 12px 10px;
}

#main_nav ul li a{
    text-decoration: none;
}

/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
nav li:active {
    background-color: #ccc;
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}
footer{
    font-weight: bold;
}
