label {
    display: block;
}

input {

}

form {

    margin-bottom: -1px;
    padding: 12px 10px;
    border: 3px solid #222;
}

.error {
    background-color: LightYellow;
    color: DarkRed;
    width: 160px;
    padding: 10px;
    border: 1px solid gray;
    position: absolute;
    left: 120px;
    box-shadow: 3px 3px 3px #999999;
    border-radius: 7px;
}

input[type='submit'] {

    /* Add more rules here */
    width: 80px;
    height: 25px;
    font-size: 16px;
    border-image: url("blueButton.png") 0 14 0 14 stretch;
}



header.secondary{
    padding-left: 75px;

}

input:required {
    /* insert your own style to indicate a required form input */
    background-color: cornflowerblue;
}

input:invalid {
    /* insert your own styles for invalid form input */
    background-color: #AC2B37;

}

input:valid {
    /* insert your own styles for valid form input */
    background-color: antiquewhite;
}