header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37;
    font-size: 25px;
}
body{
    font-family: "Harlow Solid Italic";
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background-color: lightgrey;
}
h1{
    color: #AC2B37;
}
#content{
    padding: 3px;
}
p{
    padding: 3px;
}
h1{
    padding: 10px;
}
header{
    padding: 10px;
}
#WPI{
    /*center the image*/
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
    list-style-type: none; /* remove bullet points */
}

#main_nav li a {
    display: block;
    text-decoration: none; /* remove underline */
    border-radius: 10px;  /* rounded corners */
    margin: 6px;
    padding: 9px;
    color: #222;
    font-weight: bold;

    /* nice gradient shade on the buttons */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

    border: 1px solid #666; /* dark outline */
}
nav li:active {
    background-color: #ccc;
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}
footer{
    font-weight: bold;
}
video {
    /* add your style definitions here */
    border-radius: 20px;
    border: solid;
    padding: 5px;
    margin-top: 5px;
 /* transitions applied to the video element */
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
audio{
    border: solid;
    border-radius: 90px;
    padding: 10px;
    margin-bottom: 20px;
}
button.back{
    /*These lines override the previous styling of buttons*/
    -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
    width:60px;
    height: 30px;

    /*These lines position the back button inside the header*/
    position:absolute;
    left:16px;
    top:8px;
}
header.secondary{
    padding-left: 75px;
}
button {
    /*center the button*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* add your code to set top and bottom margins */

    /*add an image to your button*/
    -webkit-border-image: url("../orangeButton.png") 14 14 14 14 stretch;
    background-size: cover;

    /*set width and height for the button*/
}
